@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="profil" >
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{<div class="acilirmenu" style=" display: none">
    <p class="lead">Sexy nav title here.</p>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-home"></span>  Home
        </a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-cog"></span>  Settings</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-tasks"></span>  Items</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span>  Stats</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-tower"></span>  Upgrade</a>
    </div>
</div>
    <ul class="nav navbar-nav navbar-right">
        <li >@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        
    </ul>
}
<script>
    $("profil").click(function () {
        $("acilirmenu").hide(100)
    })



</script>