@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="col-lg-6">
        @RenderPage("~/Views/Shared/_RegisterPartialLayout.cshtml")
    </div>
    <div class="col-lg-6">
        @RenderPage("~/Views/Shared/_Giris.cshtml")
    </div>

