@{
    Layout = "~/Views/Shared/_HomeNavbarLayout.cshtml";
}



    <div class="col-lg-6">
        @RenderPage("~/Views/Shared/_RegisterPartialLayout.cshtml")
    </div>
    <div class="col-lg-6">
        @RenderPage("~/Views/Shared/_Giris.cshtml")
        <div><p> Email address: admin@yaz5.com   ||    Password: 123456</p>
        <p>Email address :  sbhctn@gmail.com  ||   Password :Aa123456!</p></div>
    </div>

