
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_NavbarLayour.cshtml";


    
}
<br/>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Bu sayfa henüz tamamlanmadı...</h1>

